# Exclude virtual environment directories
/venv/
/.venv/

# Exclude IDE metadata
/.idea/

# Exclude Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Exclude build artifacts
/build/
/dist/
/src/simple_sklearn/_version.py
**/*.egg-info

# Exclude testing artifacts
/act-artifacts/
.coverage
