# End-of-line normalization
* text=auto

Makefile text eol=lf
*.yaml text eol=lf
*.yml text eol=lf


# Archive exports
.* export-ignore
.github/** export-ignore
data/_*.csv export-ignore
docs/** export-ignore
Makefile export-ignore
mkdocs.yml export-ignore
release-please-config.json export-ignore
